.DS_Store
docs/*.mp4
docs/*.mp4_original
docs/ADJUSTED/*
docs/FRAMES/*
images.txt
### Python ###
# Byte-compiled / optimized / DLL files

__pycache__/*
*.py[cod]
*$py.class

exiftool.exe
docs/c.png
docs/GS010010-pitch-calculated.json
docs/GS010010-pitch-calculated.json
docs/GS010010-pitch-calculated.json
docs/GS010011-roll-calculated.json
